# Configuration file of Harbor

# The IP address or hostname to access admin UI and registry service.
# DO NOT use localhost or 127.0.0.1, because Harbor needs to be accessed by external clients.
hostname: {{ reg_fqdn }}

# http related config
http:
  # port for http, default is 80. If https enabled, this port will redirect to https port
  port: 80

# https related config
https:
  # https port for harbor, default is 443
  port: 443
  # The path of cert and key files for nginx
  certificate: /etc/docker/certs.d/{{ reg_fqdn }}/{{ reg_fqdn }}.cert
  private_key: /etc/docker/certs.d/{{ reg_fqdn }}/{{ reg_fqdn }}.key

# Uncomment following to enable TLS communication between all Harbor components
# internal_tls:
#   enabled: true
#   dir: /etc/harbor/tls/internal

# Uncomment external_url if you want to enable external proxy
# external_url: https://reg.mydomain.com:8433

# The initial password of Harbor admin
# It only works the first time to install Harbor. Change it from the UI afterwards.
harbor_admin_password: {{ reg_startpassword }}

# Harbor DB configuration
database:
  # The password for the root user of Harbor DB. Change this before any production use.
  password: root123
  # The maximum number of connections in the idle connection pool.
  max_idle_conns: 100
  # The maximum number of open connections to the database.
  max_open_conns: 900
  # The maximum amount of time a connection may be reused.
  conn_max_lifetime: 5m
  # The maximum amount of time a connection may be idle.
  conn_max_idle_time: 0

# The default data volume
data_volume: /data

# Harbor Storage settings (using the local filesystem by default)
# Uncomment and adjust if using external storage.
# storage_service:
#   ca_bundle:
#   filesystem:
#     maxthreads: 100
#   redirect:
#     disable: false

# Trivy configuration
trivy:
  ignore_unfixed: false
  skip_update: false
  offline_scan: false
  security_check: vuln
  insecure: false
  # github_token: xxx

jobservice:
  # Maximum number of job workers in job service
  max_job_workers: 10
  # The jobLoggers backend names. Options include "STD_OUTPUT", "FILE", and/or "DB".
  job_loggers:
    - STD_OUTPUT
    - FILE
  # The jobLogger sweeper duration (in days)
  logger_sweeper_duration: 1

notification:
  # Maximum retry count for webhook job
  webhook_job_max_retry: 3
  # HTTP client timeout for webhook job (in seconds)
  webhook_job_http_client_timeout: 3

log:
  # Log level options: debug, info, warning, error, fatal
  level: info
  local:
    # Number of rotations before old log files are removed.
    rotate_count: 50
    # Rotate log files if they grow bigger than the given size.
    rotate_size: 200M
    # The directory on your host where logs are stored.
    location: /var/log/harbor

# This attribute is for migrator to detect the version of the configuration file, DO NOT MODIFY!
_version: 2.12.0

# Uncomment external_database if using an external database.
# external_database:
#   harbor:
#     host: harbor_db_host
#     port: harbor_db_port
#     db_name: harbor_db_name
#     username: harbor_db_username
#     password: harbor_db_password
#     ssl_mode: disable
#     max_idle_conns: 2
#     max_open_conns: 0
#   notary_signer:
#     host: notary_signer_db_host
#     port: notary_signer_db_port
#     db_name: notary_signer_db_name
#     username: notary_signer_db_username
#     password: notary_signer_db_password
#     ssl_mode: disable

# Uncomment external_redis if using an external Redis server.
# external_redis:
#   host: redis:6379
#   password:
#   registry_db_index: 1
#   jobservice_db_index: 2
#   trivy_db_index: 5
#   idle_timeout_seconds: 30

# Uncomment uaa for trusting a uaa instance with a self-signed certificate.
# uaa:
#   ca_file: /path/to/ca

# Global proxy configuration
proxy:
  http_proxy:
  https_proxy:
  no_proxy:
  components:
    - core
    - jobservice
    - trivy

# metric:
#   enabled: false
#   port: 9090
#   path: /metrics

# Trace related config
# Only one trace provider (jaeger or otel) can be enabled at a time.
# trace:
#   enabled: true
#   sample_rate: 1
#   jaeger:
#     endpoint: http://hostname:14268/api/traces
#     username:
#     password:
#     agent_host: hostname
#     agent_port: 6831
#   otel:
#     endpoint: hostname:4318
#     url_path: /v1/traces
#     compression: false
#     insecure: true
#     timeout: 10

upload_purging:
  enabled: true
  # Remove files in _upload directories that have existed for the specified duration.
  age: 168h
  # The interval between purge operations.
  interval: 24h
  dryrun: false

cache:
  # Enable caching to improve performance (disabled by default)
  enabled: false
  # The number of hours to keep cached items.
  expire_hours: 24
